@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');



.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  position: relative;
  min-height: 105vh;
  overflow: hidden;
}

button{
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@media only screen and (max-width: 600px) {
  .App{
    /* width: fit-content; */

  }

}